In [1]:
import pandas as pd
import os
import json

In [2]:
#root = r"C:\Users\Thibaut\Documents\These\code\ovh_data"
root = r"C:\Users\Thibaut\Documents\These\code\ovh_data_3"

In [3]:
files = os.listdir(root)
patterns = []
logs = []
for f in files:
    if f.endswith('patterns'):
        patterns.append(f)
    else:
        logs.append(f)
print(patterns)

['github_cyber_2022-07-22T16h20m33s__1w_spaced_2d_smallest_24.0_50log_2022-09-20T15\uf03a48\uf03a11.binaps.patterns']

In [4]:
first = patterns[0]
print(first)

github_cyber_2022-07-22T16h20m33s__1w_spaced_2d_smallest_24.0_50log_2022-09-20T154811.binaps.patterns

In [6]:
with open(os.path.join(root,first), 'r') as fd:
    s = fd.read()
    j = json.loads("[{}]".format(s.replace('}{', '},{')))

In [7]:
df = pd.DataFrame(j)

In [8]:
df = df.sort_values(['supp_full', 'supp_half'], ascending=False)

In [9]:
df['pat_size'] = df.pat.apply(len)

In [10]:
df

,supp_full,supp_half,pat,pat_size
19,17,328,"[6, 5884, 11762, 17640, 23518, 29396, 35274]",7
30,2,10,"[6727, 12605]",2
58,1,29,"[3949, 6375]",2
37,1,21,"[3783, 29717]",2
27,1,11,"[12488, 23278]",2
...,...,...,...,...
62,0,0,"[0, 55, 127, 159, 186, 215, 284, 328, 388, 469...",190
63,0,0,"[70, 92, 149, 180, 192, 216, 220, 278, 307, 37...",225
64,0,0,"[0, 3, 4, 40, 50, 55, 70, 78, 85, 92, 103, 107...",5709
65,0,0,"[7, 67, 74, 86, 111, 153, 183, 211, 224, 254, ...",461
66,0,0,"[86, 153, 252, 269, 334, 464, 476, 541, 562, 8...",114

In [57]:
df = pd.DataFrame(columns=['file', 'supp_full', 'supp_half', 'pat'])
dict_file = {}
fid = 0
for file in patterns:
    with open(os.path.join(root,first), 'r') as fd:
        s = fd.read()
        j = json.loads("[{}]".format(s.replace('} {', '},{')))
    df1 = pd.DataFrame(j)
    df1['file'] = fid
    dict_file[fid] = file
    df = pd.concat([df, df1])
    fid += 1
df['pat_size'] = df.pat.apply(len)

In [62]:
df = df.sort_values(['supp_full', 'supp_half'], ascending=False)

In [63]:
df

,file,supp_full,supp_half,pat,pat_size
2,0,1,32,"[4390, 24065]",2
2,1,1,32,"[4390, 24065]",2
2,2,1,32,"[4390, 24065]",2
2,3,1,32,"[4390, 24065]",2
2,4,1,32,"[4390, 24065]",2
...,...,...,...,...,...
3,5,0,0,"[2, 3, 4, 14, 48, 51, 86, 101, 131, 156, 177, ...",445
5,5,0,0,"[35, 118, 1882, 1965, 3729, 3812, 4242, 5576, ...",57
7,5,0,0,"[13, 18, 183, 210, 246, 248, 290, 294, 310, 32...",668
8,5,0,0,"[1, 32, 36, 54, 89, 91, 94, 99, 105, 107, 112,...",1239
9,5,0,0,"[5, 6, 10, 28, 37, 41, 43, 45, 60, 61, 72, 79,...",1275